<ion-header>
    <ion-navbar>
				<button ion-button menuToggle>
					<ion-icon name="menu"></ion-icon>
				</button>
				<ion-title>Aviso profesor</ion-title>
			</ion-navbar>
  </ion-header>
  
  
  
  <ion-content padding>
    <ion-item>
      <ion-textarea placeholder="Escribir Mensaje"></ion-textarea>
    </ion-item>
    <div padding>
  
      <button ion-button expand="block">Enviar Mensaje</button>
    </div>
  </ion-content>
  
