<ion-header>
    <ion-navbar>
				<button ion-button menuToggle>
					<ion-icon name="menu"></ion-icon>
        </button>
				<ion-title>
            {{ nombre }}
         </ion-title>
			</ion-navbar>
  </ion-header>
  
  <ion-content padding>
  
    <ion-grid> 
      <ion-row justify-content-center> 
        <ion-col align-self: center style="background:#7b81c9">
          Ramos Cursados
        </ion-col>
        <ion-col align-self: center style="background:#7dd689">
            {{ ramosTomados }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align-self: center style="background:#7b81c9">
          Promedio
        </ion-col>
        <ion-col align-self: center style="background:#7dd689">
          {{ promedioRamos | number:'1.2-2' }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="background:#7b81c9">
          Desviacion Estandar
        </ion-col>
        <ion-col align-self: center style="background:#7dd689">
          {{ DSRamos | number:'1.2-2' }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align-self: center style="background:#7b81c9">
          Ranking
        </ion-col>
        <ion-col align-self: center style="background:#7dd689">
          {{ Ranking }}
        </ion-col>
      </ion-row>
        
    </ion-grid>
    <canvas id="canvas">
    </canvas>
  </ion-content>
  